*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.conect{
    display: flex;
    width: 100%;
    min-height: 90vh;
    background-image: url(../logos/etrade.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.con_cat{
    display: flex;
    width: 10vw;
    border-right: 1px solid #F8A918;
}
.con_cat li{
    margin-left: 10px;
}
.con{
    display: flex;
    justify-content: center;
    width: 85vw;
    border-bottom: 1px solid #F8A918;
}
.list_con{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #F8A918;
    width: 550px;
    height: 100%;
    color:#F8A918;
}
.con_item{
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 40px;
    margin-top: 10px;
    font-size: 20px;
    border-bottom:  1px solid #F8A918;
}
.list_con_cat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-top: 35px;
}
.list_con_cat>li{
    color:#F8A918;
    text-align: start;
    margin-top: 10px;
    cursor: pointer;
    border-bottom:  1px solid #F8A918;
}
@media screen and (max-width: 992px){
    .list_con_cat li{
        font-size: 14px;
    }
    .con_cat{
        width: 80px;
    }
}
@media screen and (max-width: 576px){
    .list_con_cat li{
        font-size: 10px;
    }
    .con_cat{
        width: 50px;
    }
    .con_cat{
        width: 20vw;
    }
    .con{
        width: 80vw;
    }
    .list_con li{
        width: 100%;
        height: 15px;
        font-size: 13px;
    }
    .conect{
        background-image: url(../logos/etrade.jpg);
        background-size:cover;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width: 450px){
    .list_con_cat li{
        font-size: 10px;
    }
    .list_con li{
        width: 100%;
        height: 15px;
        font-size: 13px;
    }
    .conect{
        background-image: url(../logos/etrade.jpg);
        background-size:cover;
        background-repeat: no-repeat;
    }
}